.bottom-section  {
    background-color: #C4C4C4;

    padding-top: 30px;
    padding-bottom: 10px;
    height: 630px;
    border-bottom: 7px solid #fff;

}
.bottom-section.-second {
    background-image: url(../../assets/img/banner-projects.png);
    background-repeat: no-repeat ;
    background-size: cover;
    box-sizing: border-box;
	max-height: 360px;
 
}
