.main-box {
    display: block;
    background-color: #DCDCDC;
    width: 435px;
    height: 174px;
    box-shadow: 3px 3px 0px #fff;
    border-radius: 5px;
    padding-left: 20px;
    

}

.main-box .main-title {
   
    padding-bottom: 10px;
}

.main-box .main-subtitle {
    margin-left: 40px;
    
}