.main-box {
    display: inline-block;
    background-color: #3A4042;
    width: 630px;
    height: 184px;
    box-shadow: 4px 4px 0px #fff;
    border-radius: 5px;
    padding-left: 35px; 
}
.main-box .main-title {
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-box .main-subtitle {
    margin-left: 40px;
    padding-bottom: 10px;
}