.main-carousel {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
}
.main-carousel::after {
    content: '';
    position: absolute;
    left: 40px;
    top: 36px;
    display: block;
    height: 4px;
    width: calc(100% - 80px);
    background-color: #3A4042;
}
.main-carousel::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 36px;
    display: block;
    border: 2px dashed #3A4042;
    
    width: 100%;
    
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 70px;
    transform: translateY(30%);
}
.main-carousel .button-arrow.-left {
    left: 2px;
}
.main-carousel .button-arrow.-right {
    right: 2px;
}