.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.node-card::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    height: 0px;
    width: 35px;
    border: 2.5px dashed #3A4042;
    transform: rotate(90deg) translateX(-67%);
    bottom: 140px;
    
}
.node-card .main-title {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 30px;
    
}
.node-card .logo {
    display: flex;
    align-items: center;
    height: 140px;
    border: 3px solid #3A4042;
    border-radius: 10px;
    padding-left: 13px;
    padding-right: 13px;
    backdrop-filter: blur(2px)
}