.main-title {

    color: #3A4042;
    font-family: 'Fira Code';
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;

}
.main-title.-second {
    font-family: 'Press Start 2P';
    text-shadow: none;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
}
.main-title.crWhite {

    color: #fff;

    font-family: 'Press Start 2P';
    text-shadow: none;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
}
