.main-finished {
    display: inline-block;
    background-color: #fff;
    box-shadow: 2px 2px 5px #3A4042;
    border-radius: 5px;
    margin: 4px;
    
    

    padding: 2px;
    width: 230px;
}

