.main-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    margin-top: 70px;
    cursor: help;
}
[data-title]:after {
    content: attr(data-title);
    visibility: hidden;
    padding: 3px ;
    box-shadow: inset 0 0 1em #3A4042;
    border-radius: 10px ;
    color: #3A4042; 
    font-family: 'Fira Code';
    font-size: 15px;
    display: flex;
    justify-content: center;

    margin-top: 10px;
    
}
[data-title]:hover:after {
    opacity: 1;
    visibility: visible;

}